body {
    color: #eee;
    font-family: Tahoma, Geneva, sans-serif;
    font-size:13px;
    text-align:center;
    background-color: #000;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.title {
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;
    font-weight: 300;
}

.title h1 {
    font-weight: 300;
    font-family: 'Zilla Slab', serif;
    letter-spacing: 3px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7)
}

.title h1 span {
    color: rgba(255, 255, 255, 1)
}

.title p {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 5px;
    margin-top: 0;
    color: rgba(255, 255, 255, 0.6)
}

a {
    color: #FFF;
}